{% extends "private_base.html" %}

{% block content %}

    <h1>Привет!!</h1>
    {% if not current_user.groups %}
        <p> Вы не состоите ни в одной группе. </p>
    {% endif %}

    {% for group in current_user.groups %}
        <p> {{ group.name }} </p>
        <p> Пользователей: {{ len(group.users) }} </p>
        {% if group.admin_id == current_user.id %}
            <p> Вы являетесь администратором </p>
        {% endif %}
    {% endfor %}

    <a href="/create_group">Создать группу</a> <br/>
    <a href="/join_group">Присоединиться к группе</a>

{% endblock %}